p {
    text-align: justify;
    text-justify: auto;
}
.cover-picture{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/UTSA-Jumbotron-no-text.jpg');
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    border:5px solid black; 
  }
.cover-text {
    position: absolute;
    text-align: center;
    left:25%;
    top:20%;
}
.media{
    text-align: center;
}

@font-face {
  font-family:'robo';
  src: url('/fonts/robofan.otf');
}

.jumbo-text {
  font-family: 'robo';
  color: black;
}
.jumbo-header {
  font-size:20em;
}
.jumbo-content{
  font-size:10em;
}
.well {
    background-color: #eee;
}
.content-area {
    position: absolute;
    top: 105%;
    width: 100%;    
}
.content-box {
    padding-top:5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #eee;
    height: 350px;
}
.content-box p {
    text-align: center;
}
.about {
    background-color: #0072BC; /* light blue */
    color: #fff;
}
.mission {
    
}
.event {
    background-color: #eee;
}
.ng-scope{
    margin-top: -20px;
}