p {
    font-size: 18px;
    line-height: 1.5;
}

body {
    padding-top: 50px;
}

h1,h2,h3,h4,h5,h6 {
    color :#f15a22;
    margin: 0 0 25px;
    text-transform: uppercase;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}

.cover-picture{
    position: absolute;
    width: 100%;
    height: 80%;
    background: url('../img/Jumbotron.jpg');
    background-size: cover;
}

.cover-text {
    position: absolute;
    text-align: center;
    left:5%;
    top:20%;
}

.media{
    text-align: center;
}

@font-face {
  font-family:'robo';
  src: url('/fonts/robofan.otf');
}
.navbar-transparent {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #fff;
}
.navbar-right .social-button a {
    padding:0;
    margin:0;
    padding-top: 4%;
}
.navbar-brand {
    padding: 0;
}

.jumbo-text {
  font-family: 'robo';
  color: black;
}
.jumbo-header {
  font-size:20em;
}
.jumbo-content{
  font-size:10em;
}
.well {
    background-color: #eee;
}
.form-well{
    position: relative;
    left:17%;
    border:1px solid #0c2340;
}
.content-area {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
}
.content-box-left {
    padding-top:5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 350px;
    background-color: #0c2340;
    color: #fff;
}
.content-box-right {
    padding-top:5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 350px;
}
.content-box-left p {
    text-align: left;
}
.content-box-right p {
    text-align: right;
}
.text-center {
    text-align:center;
}

.footer{
    padding-top: 15px;
    padding-bottom: 10px;
}
