h1,h2,h3,h4,h5,h6 {
  color:#F15A22;
}
p {
    text-align: justify;
    text-justify: auto;
}
.coverpicture{
    background: url('../img/UTSA-Jumbotron-small.jpg') no-repeat center center fixed;
    background-position: 100% -25%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    height: 450px;
    margin-top: -20px}
.media{
    text-align: center;
}
.sortacontainer{
    border: 3px solid #F15A22;
    margin-top: -20px;
}
