p {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

html {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
} 

body {
    padding-top: 50px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color :#f15a22;
    margin: 0 0 25px;
    text-transform: uppercase;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}
hr {
    max-width: 900px;
}

h3 hr {
    max-width: 250px;
}




#masthead { 
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}
.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
        margin-top:30px;
        width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}





.media {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.media-heading small {
    color: #f15a22;
}
.media-list li{
    padding-bottom: 35px;
}
.media-body{
    text-align: center;
    height: 250px;
}
.media img {
    width: 300px; 
    height: auto;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/Jumbotron.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

#socialmedia{
    text-align: center;
}
#calendar {
    background-color: #fff;
}
#officers {
    background-color: #fff;
}
#officers h3 {
    margin: 5px 0 5px;
    font-size: 20px;
}
#officers p {
    color: #000;
}
#info-item{
    margin-bottom: 25px;
}
.acminfo{
    font-size: 100px;
    text-lign: center;
}

.cover-picture{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/Jumbotron.jpg');
    background-size: cover;
}

.cover-text {
    position: absolute;
    text-align: center;
    left:5%;
    top:20%;
}


@font-face {
  font-family:'robo';
  src: url('/fonts/robofan.otf');
}


.navbar-transparent {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #fff;
}
.navbar-brand {
    padding: 0;
}

.jumbo-text {
  font-family: 'robo';
  color: black;
}
.jumbo-header {
  font-size:20em;
}
.jumbo-content{
  font-size:10em;
}
.well {
    background-color: #eee;
}
.form-well{
    position: relative;
    left:17%;
    border:1px solid #0c2340;
}
.content-area {
    background-color: #0c2340;
    color: #fff;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
}
.content-box-left {
    background-color: #fff;
    color: #000;
    padding-top:5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 350px;
}
.content-box-left h4 {
    color: #0c2340;
}
.content-box-right {
    background-color: #0c2340;
    color: #fff;
    padding-top:5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 350px;
}
.content-box-left img {
    width: 100%;
    height: auto;
}
.content-box-right img {
    width: 100%;
    height: auto;
}
.content-box-left p {
    text-align: right;
}
.content-box-right p {
    text-align: left;
}
.info-item {
    margin-bottom: 25px;
}
.officer-item {
    margin-bottom: 25px;
}
.text-center {
    text-align:center;
}
.text-center li{
    margin: 0 auto;
    list-style-position: inside;
}
.footer{
    color: #f15a22;
    background-color: #fff;
    max-height: 174px;
    padding-top: 15px;
    padding-bottom: 10px;
}



/********
        potential separate navbar for home page
********/

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

