<div class="container">
    <div class="fill-space" style="height:35px;"></div>
    <div class="page-name">
        <center>
            <h1>Contact Us</h1>
            <p>Feel free to email us or contact us via any social media account!</p>
            <hr>
        </center>
    </div>
    
    <!-- ACM Social Media Links Row-->
    <div class="row" id="socialmedia">
        <div class="col-lg-2 col-md-4 col-sm-6 info-item">
            <a href="mailto:acm.utsa@gmail.com">
                <i class="fa fa-envelope acminfo" style="font-size: 100px;"><h3>E-mail</h3></i>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 info-item">
            <a href="https://acm-utsa.slack.com" target="_blank">
                <i class="fa fa-slack acminfo" style="font-size: 100px;"><h3>Slack</h3></i>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 info-item">
            <a href="https://www.linkedin.com/groups/8413611" target="_blank">
                <i class="fa fa-linkedin-square acminfo" style="font-size: 100px;"><h3>LinkedIn</h3></i>
            </a>

        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 info-item">
            <a href="https://github.com/UTSA-ACM" target="_blank">
                <i class="fa fa-github-square acminfo" style="font-size: 100px;"><h3>GitHub</h3></i>
            </a>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 info-item">
            <a href="https://www.facebook.com/ACM-UTSA-424006151132274/?fref=ts" target="_blank">
                <i class="fa fa-facebook-square acminfo" style="font-size: 100px;"><h3>Facebook</h3></i>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 info-item">
            <a href="https://twitter.com/acm_utsa" target="_blank">
                <i class="fa fa-twitter acminfo" style="font-size: 100px;"><h3>Twitter</h3></i>
            </a>
        </div>
    </div>
    <!-- /.row -->
</div>

<!-- Footer Starts here -->
<div footer></div>
