  <div class="container">
    <div class="fill-space" style="height:35px;"></div>

    <div class="page-name">
        <center><h1>Spring 2016 Key Events</h1></center>
    </div>
    <div class="container">
        <ul class="text-center">
            <li>Upcoming event 1</li>
            <li>Upcoming event 2</li>
            <li>Upcoming event 3</li>
            <li>Upcoming event 4</li>
        </ul>

        <center><p> Please refer to the calendar below for all meetings and events coming up. </p></center>
    </div>


    <div class="page-name">
        <center><h1>Calendar</h1></center>
    </div>
    <hr>
    <div class="text-center">
      <iframe src="https://calendar.google.com/calendar/embed?src=hfgke17fnl1b7kqgcv7agd86qk%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="1100" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

<div footer> </div>

</div>
