<div class="home-intro">
    <div class="cover-picture"></div>
</div>

<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">ACM UTSA</h1>
                        <p class="intro-text">The Association for Computing Machinery at<br>The University of Texas at San Antonio</p>
                        <a href="#codename" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="content-area" id="codename">
    <br>
    <div class="container">
        <div class="row top-intro">
            <div class="col-xs-8">
                <h1>Who We Are?</h1>
                   <p> We are The University of Texas at San Antonio student chapter of ACM. The Association for
                    Computing Machinery is the largest international society for educational and scientific 
                    computing. What we are not, though, is just your ordinary computer science club, instead we 
                    invite any student that has a passion for technology to join our growing community. Our aim 
                    is to build a network not only between our members, but to also incorporate our professional 
                    connections. This interaction helps us achieve one of our goals by creating opportunities to 
                    prepare our members for the prosperous careers we know are ahead of them. </p>   
                <br><br><br>
                <h1>What Is Our Mission?</h1>
                    <p>Understanding that academics isn’t everything, we established ACM at UTSA with one thing in 
                    mind. We wanted to offer our members a network that could extend beyond their careers. We wanted 
                    an organization that produced real change in the community and an association that connected our 
                    ACM family with the world. Participating in hackathons, mentoring future students, and hosting tech 
                    talks are only the beginning to our legacy. Our mission is to excel academically, professionally, and socially.</p>

            </div>
            <div class="col-xs-4">
                <div class="media">
                    <h1>Media</h1>
                </div>
                <!-- this space is meant for the media content? -->
                <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=557719497713579";
                    fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/ACM-UTSA-424006151132274" data-tabs="timeline" data-width="400" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"></div>
                    <br><br>
            </div>
        </div> <!-- End of top intro -->
    
    <hr>
    </div>

    <div class="container-fluid">
        <div class="page-name">
            <br>
            <center><h1>Spring 2016 Upcoming Events</h1></center>
        </div>
        <ul class="text-center">
            <li>Interviewing Skills and Career Fair Prep - Friday, January 29th at 3pm</li>
            <li>Resume Writing Workshop - Friday, February 5th at 2pm</li>
            <li>Vim/Makefile Workshop - Thursday, February 11th at 8:15pm</li>
            <li>Git Workshop - Thursday, February 18th at 8:15pm</li>
        </ul>

        <center><p>Please refer to the <a href="/calendar">calendar</a> for all meeting times and events this semester.</p></center>
    </div>

<br>
<!-- Footer Starts Here -->
<div footer></div>

