
<div class="container">
    <div class="coverpicture">
    </div>
</div>
<div class="container">
<div class="row top-intro">
    <div class="col-xs-8">
								<h1>Who We Are:</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mollis tellus vel enim blandit imperdiet. Maecenas non sapien a lorem molestie luctus ut ut orci. Nam et magna varius, vestibulum enim quis, imperdiet enim. Duis maximus placerat massa non maximus. Sed ultricies a tortor sed congue. Morbi gravida hendrerit nibh quis congue. Mauris efficitur ultricies dignissim. Ut eget nisi tincidunt libero lacinia condimentum in vel augue. Vestibulum pulvinar sem sodales feugiat venenatis. Phasellus a risus id lorem feugiat finibus.
<br><br>
Sed ac posuere libero. Duis turpis augue, tempor non sapien eget, malesuada suscipit diam. Ut interdum ultricies faucibus. Nulla in erat ut velit facilisis pellentesque et quis ipsum. In faucibus maximus augue, vel suscipit elit convallis et. Suspendisse eu sapien turpis. Vivamus pulvinar tempus ipsum a facilisis. Nam nunc eros, posuere eget placerat ac, convallis sed lorem. Vestibulum ac fringilla neque, ac hendrerit nisi. Praesent nulla enim, facilisis eget euismod vel, commodo at libero. Sed nulla sem, tincidunt vitae sollicitudin nec, volutpat eget est. Sed in dictum urna. Sed placerat et nisi a luctus. Donec eget velit commodo, fringilla mi sed, fringilla velit. In fringilla fermentum ultrices. Proin in venenatis neque. Nullam porta commodo nisl eget sollicitudin. Vivamus porta sollicitudin egestas.</p>
    </div>
				<div class="col-xs-4">
        <div class="media">
								<h1>Media</h1>
        </div>
        <!-- this space is meant for the media content? -->
				</div>
</div>
</div>
