<div class="container" id="involvement">
    <div class="fill-space" style="height:35px;"></div>
    <div class="page-name">
        <center><h1>Past Events</h1></center>
    </div>
    <hr>
    
    <!-- Start of events -->
    <div class="content-box-right">
        <div class="row">
            <div class="col-xs-4">

            </div>
            <div class="col-xs-8">
                <h4>HackRice<br>Date goes here</h4>
                <p> Hackrice info goes here </p>
            </div>
        </div>
    </div>

    <div class="content-box-left">
        <div class="row">
            <div class="col-xs-8">
                <h4>San Antonio Business Journal’s Tech Titans Awards Dinner<br>Dec. 9, 2015</h4>
                <p>Two of our members were invited out to an awards dinner hosted by the San Antonio Business Journal which highlighted the best of the best in the technology community - including coding, cybersecurity, biotech, education, and more. Held at the McNay Art Museum, this event was attended by many CEOs, CFOs, CTOs, and CIOs which made it a great opportunity to network and build future connections.</p>
            </div>
            <div class="col-xs-4">

            </div>
        </div>
    </div>

    <div class="content-box-right">
        <div class="row">
            <div class="col-xs-4">

            </div>
            <div class="col-xs-8">
                <h4>CodeRED Hackathon<br>Nov. 21-22, 2015</h4>
                <p> CodeRED was a hackathon that our ACM student chapter participated in this fall. Hundreds of people gathered from all over the country to participate in 24 hours of hacking, learning, having fun, and building awesome projects. The weekend was filled with networking with top companies like Microsoft, Pros, and BlueChasm and discovering new hardware like the Oculus Rift. We sent two teams of four to the event where these individuals pushed their limits, solving problems, and building ideas. </p>
            </div>
        </div>
    </div>

    <div class="content-box-left">
          <div class="row">
            <div class="col-xs-8">
                <h4>Google Fiber/Youth Code Jam Core4 STEM Expo<br>Nov. 17-18, 2015</h4>
                <p>The San Antonio Hispanic Chamber of Commerce held their 6th annual Core4 STEM Expo at the Freeman Coliseum Expo Hall. At this event our members worked with other representatives from San Antonio Youth Code Jam and Google Fiber to mentor at-risk youth from local elementary, middle, and high schools. We taught the basics of programming using an educational tool called Scratch that involves the use of 2D graphics. Our goal for the event was to promote interest and diversity in computer science in the younger generation.</p>
            </div>
            <div class="col-xs-4">

            </div>
        </div>
    </div>

    <div class="content-box-right">
        <div class="row">
            <div class="col-xs-4">

            </div>
            <div class="col-xs-8">
                <h4>Reagan High School Major Fair<br>Nov. 14, 2015</h4>
                <p>For our first event, we sent some of our members to a career fair hosted by Reagan’s Mu Alpha Theta and National Honor Society. It was a complete success! We were invited out to represent UTSA’s Computer Science department. To engage the students, our members developed creative programs to display on our tables that were set up with posters and banners. Once the students were at the tables they learned from our members the opportunities that were awaiting them in a career of computer science.</p>
            </div>
        </div>
    </div>


</div>
<!-- Footer Starts here -->
<div footer> </div>
